* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #b9dbd3; 
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 150px;
    text-align: center;
    font-weight: 40px;
    
}
p {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
h2 {
    color: rgb(255, 255, 255);
}
.slogan {

    color: rgb(255, 255, 255);
    font-size: 45px;
    text-decoration: none;
    height: 100%;
    width: 100%;

    
    
 

}
.slogan a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.slogan a:hover {
    color: #6fac9d;
    
}
.slogan h2 {

text-align: center;


}
.img-1 h2 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: left;


}
.img-1 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
}

.img-2 {
    /*display: flex;
    flex-direction: column;*/
    padding-top: 30px;
   /* justify-content: space-around;*/

}
.img-2 h2 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: right;
}

.img-2 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: right;

}

.nav {
    font-size: 25px;
    height: 50px;
    width: 100%;
    display: inline-block;
    background-color: #6fac9d;
    word-spacing: 10px;
    position: fixed;
    top: 0px;
}

.nav ul {
    text-decoration: none;
    color: rgb(255, 255, 255); 
    list-style-type: none;
    margin: 10px;
    padding: 0;


}
.nav li{
    display: inline;
    padding: 20px;
    padding-top: 30px;
    margin: 20px;
    text-decoration: none;
}
.nav a:hover {
    color: #b9dbd3;
}
.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.bread-1 p {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: center;
    display: inline-block;
    padding: 120px;
    margin: 200px;
    border-style: solid;
    border-color: #6fac9d;
}

.feature {
    display: flex;
    padding: 0 32px;
    padding-bottom: 160px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.feature-text-wrapper {
    width: 500px;
}

.feature-img-wrapper{
    /* width: 50%; */
    /* display: flex; */
    /* justify-content: center; */
}

.feature-img-wrapper img {
    max-width: 600px;
    height: auto;
}

img {
    border-radius: 16px;
}
#record, #interact {
    padding: 20px;
}
button {
    display: inline-block;
    margin: auto 0;
    text-decoration: none;
    border: none;
    font-size: 24px;
    text-align: center;
    background-color: #6fac9d;
    color: rgb(255, 255, 255);
    padding: 18px;
    border-radius: 4px;
  

}
.button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

  .about-me {
      padding: 30px;

  }
  .about-colab {
      padding: 30px;
      



  }
  
    
  
.first-image {
    height: 500px;
    width: 700px; 

}
.second-image {
    height: 500px;
    width: 700px;
    float: right;

    
   

}
.image-text2 {
    display: block;
    

}

.img-3{
    
    padding: 10px;
    margin: 5px;
}
.img-3 h2 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: left;
    display: inline-block;
}
.img-3 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: right;
    display: block;
    

}
.contact {
    display: inline-block;
    border: solid;
    border-color: #6fac9d;
    padding-left: 10px;
    
}
.pricing {
    color: rgb(255, 255, 255);
    font-size: 150px;
    text-align: center;
    font-weight: 40px;

}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.container2 {
    display: flex;
    flex-direction: column-reverse;
   

}
.container3 {

}
.back a {
    text-decoration: none;
    display: inline-block;
    background-color: #6fac9d;
    padding-right: 10px;
    padding-left: 5px;
    margin-left: 0 auto;
}

@media screen and (max-width: 800px) {
    .nav {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    
    .nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .bread-1 p {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        display: inline-block;
        padding: 32px;
        margin: 16px;
        border-style: solid;
        border-color: #6fac9d;
    }

    .feature {
        flex-direction: column;
    }

    .feature-text-wrapper {
        width: 400px;
    }

    .feature--reverse {
        flex-direction: column-reverse;
    }

    .feature-img-wrapper img {
        width: 400px;
        height: auto;
    }
    
    h1 {
        
    
    font-size: 90px;
    font-weight: 25px;
    }
    .slogan {
     font-size: 20px;
    }
}
